.switches-box {
  padding: 20px;
}
.swiches {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  color: #666;
  padding: 15px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 10%);
}
.btncreate {
  align-self: flex-end;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  background-color: #fb8d4e;
}
